
.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


button {
  background: transparent;
  border: 2px solid rgb(9, 9, 9);
  color: rgb(0, 0, 0);
  padding: 0.4rem 0.5rem;
  margin:15px;
  width:20%;
}

button:hover {
  background: rgba(232, 84, 84, 0.466);
  color: #024aff;
  cursor: pointer;
}

span {
  font-size:75px;
}

.container {
 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
}
